* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-image: url('/static/le.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.514);
    background-blend-mode: darken;
    color: #fff;
}
form{
    margin:  auto;
    width: 40%;
    padding: 1em;
    border-radius: 1em;
    margin-top: 5%;
    border: 3px solid #ccc;
    box-shadow: 0 4px 8px rgb(128, 14, 14, 0.1);
    border-color: beige;
    
}

/* Uniform text field size */
textarea{
    font-size: large;
    font: 1em sans-serif;
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
    background-color: var(--input-bg-color);
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    box-sizing: border-box;
    color: white;
}
/* Align multiline  text field with their labels */
textarea{
    vertical-align: top;
    height: 5em;
    background-color: #999;
    border-radius: 0.5em;
    font-size: large;
    font-weight: bold;
    font-size: large;
    color: black;
}
/*uniform h1 field */
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-style: italic;
    padding: auto;
    text-align: center;
    font-weight: bold;
    color: black;
}
pre{
    font-weight: bolder;
    min-width: 500px;
    margin: 10px 20px;
    text-align: start;
    margin: auto;
    color: white;
}
/* unforming the select section*/
select{
    padding: 0.5em;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #999;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-style: italic;
    background-color: #999;
    border-radius: 0.5em;
    font-weight: bold;
    color: black;
    text-align: center;
    cursor: pointer;
}
.ascii-go{
    padding: auto;
    margin: auto;
    width: 100%;
    padding-right: var(--bs-gutter-x 0.75rem);
    padding-left: var(--bs-gutter-x 0.75rem);
}
.go-art{
    font-size: 1.25rem;
    display: inline-block;
    margin-right: 1rem;
    white-space: nowrap;
    padding-top: 0.3125rem;
    padding-bottom: 0.1325rem;
    line-height: inherit;
}
a {
    text-decoration: none;
    color: bisque;
}
#res{
    margin:  auto;
    border: 3px solid #ccc;
    border-radius: 1em;
    background-color: var(--input-bg-color);
    margin-right: auto;
    width: 40%;
    margin-top: 20px;
    overflow: auto;
}
input[type ="submit"]{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0%;
    border-radius: 10px;
    background-color: #999;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    padding: 10px, 25px;
    border: 0px;
    color: black;
    width: 30%;
}
input[type="submit"]:hover{
    bottom: 1px 1px 8px var(--primary-color);
    cursor: pointer;
}
.input-gp{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 10px;
}