<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascii Display</title>
</head>
<body>
    <form>
        <div>
            <label for="input-text" class="form-lable">Convert text to ascii-art</label><br><br>
            <textarea type="text"  name="Enter-text" class="form-control" id="input-text" required>Enter text</textarea>
        </div>
        
        <div>
            <select class="form-select" name="banner">
                <option value="standard">standard</option>
                <option value="shadow">shadow</option>
                <option value="thinkertoy">thinkertoy</option>
            </select>
        </div>
    </form>
</body>
</html>