<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascii Display</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <form action="/ascii-art" method="POST">
        <div class="d-flex justify-content-center">
        <a href="/">
            <h1>ASCII Generator</h1>
        </a>
        </div>
        <div class="enter-text">
            <!--lable to enter text-->
            <label for="input-text" class="form-lable"></label><br>
            <textarea type="text"  name="input-text" class="form-control" id="input-text" rows="5" cols="30" placeholder="Ente text to generate" required>{{.Text}}</textarea>
        </div>
        
        <div class="input-group mb-3">
            <!--Banner selection-->
            <select class="form-select" name="banner">
                <option value="standard">standard</option>
                <option value="shadow">shadow</option>
                <option value="thinkertoy">thinkertoy</option>
            </select><br><br>
            <button type="submit">Generate</button>
        </div>
    </form>
    <!--Display the ascii characters as inputed in the textarea from class enter-text-->
    {{if .Result}}
    <div id="res">
        <pre>{{.Result}}</pre>
    </div>
    {{end}}
</body>
</html>